header{
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    color: brown;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo{
    width: 500px;
    display: flex;
    flex-wrap: wrap; 
}

#colors{
    padding: 24%;
    margin: 3px;
    border-radius: 30px;
    right: 7px;
    box-shadow: 10px 17px
}

.red{
    background-color: crimson; 
}

.green{
    background-color: lawngreen;
}

.blue{
    background-color: royalblue;
}

.gold{
    background-color: gold;
}

button{
margin-left: 500px;
width: 75px;
}