h1{
    display: flex;
    justify-content: center;
    color: brown;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#firstdiv{
    width: 25%;
    display: flex;
    flex-wrap: wrap; 
}

#red, #green, #blue, #gold{
    padding: 24%;
    margin: 3px;
    border-radius: 30px;
    right: 7px;
}

#red{
    background-color: crimson;
    box-shadow: 10px 17px rgb(197, 48, 78);
}

#green{
    background-color: lawngreen;
    box-shadow: 10px 17px rgb(155, 233, 77);

}

#blue{
    background-color: royalblue;
    box-shadow: 10px 17px rgb(80, 115, 219);
}

#gold{
    background-color: gold;
    box-shadow: 10px 17px rgb(238, 209, 45);
}

button{
    position: fixed;
    top: 250px;
    left: 455px;
}