header{
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    color: brown;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.colors{
    padding: 24%;
    margin: 3px;
    border-radius: 30px;
    right: 7px;
}

.red{
    background-color: rgb(211,59,59); 
    box-shadow: 10px 17px rgb(231, 62, 96)
}

.green{
    background-color: #63aa2e;
    box-shadow: 10px 17px rgb(107, 180, 33)
}

.blue{
    background-color: #424c9e;
    box-shadow: 10px 17px rgb(50, 83, 180)
}

.gold{
    background-color: #d6a90c;
    box-shadow: 10px 17px rgb(204, 179, 36)
}

button{
    margin-left: 754px;
    width: 75px;
}
